/**
 * Estilos generales
*/
*{ margin: 0; padding: 0; }
/* Todo el cuerpo*/
body{
	background-position: center;	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url(../../img/fondo_planta4.jpg);
	background-size: 100% 100%;
}

/* Todo el cuerpo --termina--*/
/* Definicion del bloque Cabecera*/
header{
	width: 100%;
	height: 70px;
	color:#fff;
	background-color: #0146AE;
	font-family: 'Strait', sans-serif;
	position: fixed;
	top: 0px;

}

header h1{
	padding-left: 30px;
	padding-right: 20px;
	/* font-family: Helvetica, sans-serif; */
	text-transform: uppercase;
	font-size: 32px;
	font-weight:bold;
	float: left;
}

header img{
	float: right;
	padding-right: 20px;
}

header p {	
	padding-top: 23px;
	font-size: 10px;
}

header p a{
	color: #D1D1DC;
	padding: 2px 2px;
}

header p a:hover {
	color: #FFF;
}

header p a {
	color: #D1D1DC;
	padding: 2px 2px;
}

header p a:hover {
	color: #FFF;
}
/* Definicion del bloque Cabecera --termina--*/
/* Definicion del bloque menu lateral */

aside {
    width:200px;
    overflow:hidden; 
    font-weight: bold;
    float: left;
    height: 100%;
    background-color: #F5F5F5;
    position: fixed;
    top: 70px;
    border-right: 2px solid #dddddd;
}
aside .aside-text {
	font-size: 13px;
	font-weight: bold; 
	padding: 0px 10px;

}

aside .list-group-item {
	background-color: #F5F5F5;
	border: 0px;
}

aside .list-group-item:hover{
	background-color: #3E85C4; 
	color: #F5F5F5;
}
/* Definicion del bloque menu lateral --termina--*/
/* Definicion del bloque submenu */

nav {
    margin-left: 200px;
    height: 30px;
    top: 70px;
    width:100%;
    position: relative;
    
}
.navbar {
    position: fixed;
    border-radius: 0px;
    border-bottom: 2px solid #dddddd;
    min-height: 30px;
    background-color: #F5F5F5;
}
nav .breadcrumb{
    font-size: 10px;
    display: inherit;
    background: transparent;
}

nav .nav-text {
    font-size: 10px;
    font-weight: bold;
    padding: 0px 5px;
}

.navbar-brand {
    padding: 5px;
    margin-left: 10px;
}

.navbar-form {
    margin-top: 4px;
}

.regresar{
	cursor: pointer;
}

/* Definicion del bloque submenu --termina--*/
/* Definicion del bloque pie de pagina */
footer { 
	font-family: Helvetica, sans-serif; 
	width: 85%;
	height: 30px;
	bottom: 0;
	position: fixed; 
	margin-left: 15%;
	padding-top: 4px;
	background-color: #000000;
	color: #757575; 
	text-align: center;
	border-top: 1px solid #000000;
	box-shadow: 2px 0px 9px rgba(0,0,0,0.35);
}
/* Definicion del bloque pie de pagina --termina-- */
/* elimina el primer campo de las tablas*/
table > thead > tr > th:first-child{ 
    display: none; 
} 

table > tbody > tr > td:first-child{ 
    display: none; 
}

a { text-decoration: none; } 

.thead-text{
	padding-left: 5px;
	color:#909090;
}

/**
 * modificar a conveniencia de la aplicacion
*/
/* Definicion del bloque section */
section { 
	margin-left: 15%;
	margin-top: 110px;
	padding-bottom: 40px;
	font-size: 12px;
	/* z-index: -1;
	position: absolute; */
}
section .panel {
	 margin: 0px auto;
	 box-shadow: 2px 0px 9px rgba(0,0,0,0.35);
	 width: 95%;
}

section .panel-footer {
	border-top: 1px solid #FFF;
	padding: 0px; 
}

section legend { 
	padding: 0 2px;
	font-size: 14px; 
	color: #B7001C; 
}

section label { 
	color: #006699;
}	
section h3 {
	margin-left: 100px;
	font-weight: bold;
}
section a.new_order {
	margin-left: 130px;
}
section a.btn-primary {
	margin-left: 45px;
}

section h4 {
	text-align: center;
}

#folio{
    height: 22px;
    width: 150px;
}

#botons{
    width: 20px;
    height: 22px;
}

#botond{
    width: 20px;
    height: 22px;
}

#fecha1{
    height: 22px;
    width: 150px;
}

#fecha2{
    height: 22px;
    width: 150px;
}

/*formulario ganaderia*/
section div div form fieldset.Datos div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Datos div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 200px;
}
section div div form fieldset.Datos div.form-group input[type='email'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 200px;
}
section div div form fieldset.Datos div.form-group input[type='date'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}
section div div form fieldset.Datos div.form-group input[type='radio'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 40px;
        float: right;
}
section div div form fieldset.Datos div.form-group label{
        width: 120px;
}
section div div form fieldset.Datos div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}
section div div form fieldset.Detalles div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Detalles div.form-group input[type='number']{
        margin-bottom: 10px;
        margin-right: 10px;
        width: 140px;
}
section div div form fieldset.Detalles div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 140px;
}
section div div form fieldset.Detalles div.form-group input[type='radio'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 50px;
        float: right;
}
section div div form fieldset.Detalles div.form-group select {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}
section div div form fieldset.Detalles div.form-group label{
        width: 130px;
}

section div div form fieldset.Detalles div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}

section div div form fieldset.Formato div.form-group label{
        width: 120px;
}

section div div form fieldset.Formato div.form-group{
        margin: 0px auto;
}

section div div form fieldset.Formato div.form-group select{
        margin-bottom: 10px;
        margin-right: 10px;
        width: 200px;
        float: right;
}

section div div form fieldset.Formato div.form-group label{
        width: 160px;
}

section div div form fieldset.Tipo_Ganado div.form-group label{
        width: 120px;
}
section div div form fieldset.Tipo_Ganado div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Tipo_Ganado div.form-group select {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 100px;
}
section div div form fieldset.Tipo_Ganado div.form-group label{
        width: 130px;
}

section div div form fieldset.Alimentacion div.form-group label{
        width: 120px;
}
section div div form fieldset.Alimentacion div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Alimentacion div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 100px;
}
section div div form fieldset.Alimentacion div.form-group select {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 250px;
}
section div div form fieldset.Alimentacion div.form-group label{
        width: 150px;
}

section div div form fieldset.Alimentacion div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}

section div div form fieldset.Alimentacion div.form-group input[type='radio'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 10px;
        float: right;
}

section div div form fieldset.Micros div.form-group label{
        width: 100px;
}
section div div form fieldset.Micros div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Micros div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 100px;
}
section div div form fieldset.Micros div.form-group select {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 250px;
}

section div div form fieldset.Micros div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}
section div div form fieldset.Micros div.form-group label{
        width: 90px;
}

section div div form fieldset.Fases div.form-group label{
        width: 120px;
}
section div div form fieldset.Fases div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Fases div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 100px;
}
section div div form fieldset.Fases div.form-group select {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 200px;
}
section div div form fieldset.Fases div.form-group label{
        width: 60px;
}

section div div form fieldset.Fases div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 10px;
}

section div div form fieldset.Fases div.form-group #eliminar_div {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 10px;
        background-color: #CC0000;
}

section div div form fieldset.MicrosEspeciales div.form-group{
        margin: 0px auto;
}
section div div form fieldset.MicrosEspeciales div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}
section div div form fieldset.MicrosEspeciales div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}
section div div form fieldset.MicrosEspeciales div.form-group label{
        width: 100px;
}
section div div form fieldset.MicrosEspeciales div.form-group select {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 250px;
}

section div div form fieldset.Ingrediente div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Ingrediente div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 100px;
}
section div div form fieldset.Ingrediente div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 10px;
}
section div div form fieldset.Ingrediente div.form-group label{
        width: 90px;
}
section div div form fieldset.Ingrediente div.form-group select{
        margin-bottom: 10px;
        margin-right: 10px;
        width: 230px;
}

section div div form fieldset.Ingrediente div.form-group #eliminar_div {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 10px;
        background-color: #CC0000;
}

section div div form fieldset.Forraje div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Forraje div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 100px;
}
section div div form fieldset.Forraje div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 10px;
}
section div div form fieldset.Forraje div.form-group label{
        width: 90px;
}
section div div form fieldset.Forraje div.form-group select{
        margin-bottom: 10px;
        margin-right: 10px;
        width: 230px;
}

section div div form fieldset.Forraje div.form-group #eliminar_div {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 10px;
        background-color: #CC0000;
}

section div div form fieldset.Concentrados div.form-group{
        margin: 0px auto;
}
section div div form fieldset.Concentrados div.form-group input[type='text'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}
section div div form fieldset.Concentrados div.form-group input[type='radio'] {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 10px;
        float: right;
}
section div div form fieldset.Concentrados div.form-group button {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
}
section div div form fieldset.Concentrados div.form-group label{
        width: 90px;
}
section div div form fieldset.Concentrados div.form-group select{
        margin-bottom: 10px;
        margin-right: 10px;
        width: 230px;
}
section div div form fieldset.botones{
        margin-left: 35%;
        margin-top: 30px;
}

section div div form fieldset.botones #guardar{
	margin-left: 5%;
}

section div div #boton_anterior{
	margin-left: 5%;
	float: right;
}

section div div #boton_siguiente{
	margin-left: 5%;
	float: right;
}
/*formulario ganaderia --termina--*/
article { 
    margin: 0 auto; 
    background: transparent; 
}
article > p:first-child { 
    font-size: 18px; 
    color: #4b545f; 
    text-align: justify;
}
article > p:first-child > a { 
    text-decoration: none; 
    color: #4b545f; 
}
article div {
    margin-left: 200px;

}

/* Definicion del bloque articulos --termina-- */
/* iconos de la aplicacion */
.fa-times{
    color:#BE0C0C;
}
.fa-pencil-square-o{
    color:#F8B226;
}
a.td .fa-file-pdf-o{
    color:#BE0C0C;
}
.fa-trash-o{
    color: #A10F0F;
    cursor: pointer;
}
.btn-danger .fa-trash-o{
    color: #FFF;
}
/* iconos de la aplicacion --termina--*/
/**
 * Termina el archivo estilo.css 
 * diseñado para ordenes de compra
*/
/* iconos de la aplicacion --termina--*/
/**
 * Termina el archivo estilo.css 
 * diseñado para ordenes de compra
*/