

.box-catalogo
	padding 0.5em 1em 1em 1em
	.form-group
		margin-bottom 10px
		form
			width 100%
			padding-left 15px
			.form
				display inline-block
				width 100%
				.col-md-8
					padding-right 7px
					padding-left 7px
				label
					margin-top 0.5em
				select
				input
					width 250px
					margin-bottom 0.5em
		.mdl-card__actions
			display inline-block
			margin-top 0.5em

.right
	text-align right

.center
	text-align center
	
.left	
	text-align left
	font-weight normal
	
.table-striped
.btn
	text-transform uppercase

.mdl-card__actions
	button
		text-transform uppercase

.shadow
	padding 1em
	box-shadow 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
.box
	padding 1em

.center-text	
	text-align center
	
.text-upper
	text-transform uppercase

.mdl-button--fab.mdl-button--colored
.mdl-button--fab.mdl-button--colored:hover 
.mdl-button--fab.mdl-button--colored:active
.mdl-button--fab.mdl-button--colored:focus:not(:active)
	background-color #6ab344
	
.vimifos-content
	.panel
		.panel-body
			form
				.form
					.col-md-4
						padding-bottom 6px
						
.vimifos-drawer
	.mdl-navigation
		.a-prin
			padding-bottom 10px
			padding-top 10px
			
		.a-red
			color #c9302c
			padding-left 15px
		.a-green
			color #8bc34a
		.a-tab
			padding-left 50px
			padding-bottom 8px
			padding-top 8px
			
.cell
	display table-cell
	margin 8px
	width 200px
	min-height auto
	text-align center
	.mdl-card__supporting-text
		.fa
			font-size 5em
	.mdl-card__actions
		text-align center

.tipocambiocarousel
	width 385px
	margin 0 auto
	table
		font-size 12px
		thead
			tr
				th
					text-align center
		tbody
			tr
				td 
					text-align center
		
.divisamodal
	.modal
		top 100px
		.modal-dialog
			.modal-content
				.modal-header
					background-color rgb(63,81,181)
					color #fff
					border-bottom 1px solid rgb(63,81,181)
					box-shadow 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
					.modal-title
						text-align center
					.close
						color #fff
				.errorht
					background-color #ac2925
				.modal-body
					.form-group
						display flex
						padding-left 100px
						span
							&:before
								content "$ "
						label
							padding-top 7px
							padding-bottom 7px
							margin-bottom 0
						.input-group
							padding-left 15px
							float left
							
						.textarea
							overhide
						.p 
							margin-left 10px
											   		
						.errort
							font-size 2em
							text-align center
							margin 0 auto
							width 50%