.flujo 
	.panel-primary 
		width 98%
		.panel-heading
			text-transform uppercase
		.panel-body
			.col-md-6
				label
					margin-top 5px 
			.col-md-12
				padding 0
					
				.panel
					margin 0
					width 100%
					table
						text-transform uppercase
						font-size 12px

						thead
							tr 
								th 
									text-align center
									text-transform uppercase
						tbody	
							tr
								td 
									text-align center
								.cta
									color #23527c
									
								.saldoi
								.saldof
								.redimiento
									&:before
											content "$"
								.tasab
								.tasan
									&:after
										content "%"
					.flujomodal	
							.modal
								.modal-dialog
									width 90%
									.modal-content
										.modal-header
											background-color rgb(63,81,181)
											color #fff
											border-bottom 1px solid rgb(63,81,181)
											box-shadow 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);

											.close
												color #fff
										.errorht
											background-color #ac2925
										.modal-body
											.form-group
												display flex
												padding-left 100px
												span
													&:before
														content "$ "
												label
													padding-top 7px
													padding-bottom 7px
													margin-bottom 0
												.input-group
													padding-left 15px
													float left
													
												.textarea
													overhide
											.errort
												font-size 2em
												text-align center
												margin 0 auto
												width 50%
