.pagob
	padding 0.5em 1em 1em 1em
	display inline-block

	.form-group
		margin-bottom 10px
		form
			display inline-block
			width 100%
			.col-md-6
			.col-md-4
			.col-md-3
			.col-md-2
				label
					margin-top 1em
					
		.mdl-card__actions
			display inline-block
			margin-top 0.5em