.form-fc
	padding 2em 4em 2em 4em
	form
		label
			margin-top 1em
		select
		input

			width 300px
			margin-bottom 1em
	
.notific
.reporte_d
.reporte_f	
	display inline-block
	width 90%
	margin 5px 0 10px 0
	.col-md-6
		.col-md-12
			.buttonaction
				padding-top 1em
			form 
				.form-group
					.input-group
						width 200px

.mitad
	width 100%	
	padding-left 15px
	padding-right 15px