
.nodata
	color red
	font-weight bold
	text-transform uppercase
	text-align center
	font-size 16px

		
section 
	margin-top 1em
	padding-bottom 40px
	width 100%
	font-size 12px
	position absolute
	padding-bottom 0
	.panel 
		margin 0px auto 
		width 80%
	.panel-primary 
		width 90%
		border 0
		.panel-heading
			background-color #fff
			border 0
			text-transform uppercase
			color rgba(0,0,0,.87)
		.panel-body
			margin-top 0px
			margin-bottom 0px
			margin 0px auto
			width 100%
			form
				.buttonaction
					margin-top 20px
			.col-md-12
				.form-group
					form 
						display block
						.filtroflujo
							width 50%
							margin 0 auto
							select
								margin-bottom 10px
							.buttonaction
								margin-top 10px
		.panel-footer 
			border-top 1px solid #FFF
			padding 0px 

.row1
	.form-group
		h4
			text-transform uppercase
			text-align center
		form
			.col-md-6
				padding-left 0	
			label
				padding-right 5px
				padding-top 10px
				display block
			input
				width 50%
			.buttonaction
				margin-top	15px	
.row2
	background #fafafa
	border-radius 5px
	float right
	.box-group
		width 100%
		h4
			text-transform uppercase
			text-align center			
		.crop
			position relative
			overflow auto
			max-height 380px
			padding-left 0
			list-style none
			margin-bottom 0
			li
				color #757575 !important
				border-bottom 1px solid rgba(0,0,0,.1);
				padding 10px 15px
				border-radius 4px
				margin-bottom 5px
				article
					font-size 1em
					.data
						width 100%			
						display inline-block
						text-transform uppercase
						font-size 1em
						color #333
						span
							font-weight bold
					.button 
						display inline-block
					.button-block
						padding-top 3px
						display block
						text-align center
					.modal
						.modal-dialog
							margin 150px auto
							.modal-content
								.modal-body
									span
										font-weight bold
										text-transform uppercase
								.success
									background #5cb85c
									color #fff
								.danger
									background #c9302c
									color #fff
								.vim 
									background-color #428bca
									button
									h4
										color #fff
			.nodata
				color red
				font-weight bold
				text-align center
				font-size 1.4em
						
.menucatalogos
	margin-left 15%
	margin-top 10%
	padding-bottom 40px
	width 85%
	font-size 12px
	position absolute
	padding-bottom 0
	.panel 
		margin 0px auto 
		width 80%
	.panel-primary 
		width 90%
		border-color #dddddd
		.panel-heading
			background-color #0146AE
			border-color #0146AE
			font-size 2em
			text-align center
			text-transform uppercase
		.panel-body
			margin-top 0px
			margin-bottom 0px
			margin 0px auto
			width 100%
			.catalogo
				padding-top 3em
				width 80%
				margin 0 auto
				text-align center
				a 
					margin-bottom 1em
		.panel-footer 
			border-top 1px solid #FFF
			padding 0px
			
.homecatalogos
	margin-left 15%
	margin-top 10%
	padding-bottom 40px
	width 85%
	font-size 12px
	position absolute
	padding-bottom 0
	text-align center	
	text-transform uppercase
	.panel 
		margin 0px auto 
		width 70%
		background #eee
		padding-top 1em
		padding-bottom 1em
		h1
			font-size 4em
		.alerts
			text-align center
			color red	
			font-size 1.5em
												
.money
	position fixed
	top 120px
	left 230px
	text-transform uppercase
	.cash 
		width 180px
		padding-bottom 20px
		
	.tab-content
		padding-top 16px
	
		.tab-pane
			.table
				thead
					tr 
						th 
							text-align center		
																		
@media screen and (max-width: 990px)
	.row1
		margin-right 0
		margin-bottom 2em	
	.row2
		border-left 0
																	
								
@media screen and (max-width: 700px)
	.list-group
		a
			span 
				display none
		.aside-text 			
		.list-group-item 
		.sublist
			a
				span
					display none							
					