*{ margin: 0; padding: 0; }

header{
	width: 100%;
	height: 89px;
	color:#fff;
	background-color: #0146AE;
	border-bottom: 2px solid #cbcbcb;
	font-family: 'Strait', sans-serif;
}

header h1{
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 15px;
	/* font-family: Helvetica, sans-serif; */
	text-transform: uppercase;
	font-size: 45px;
	font-weight:bold;
	float: left;
}

header img{
	float: right;
}

header p {	
	padding-top: 30px;
	font-size: 11px;
}

header .fa-home {
	color: #D1D1DC;
	padding-left: 0px;
}

header .fa-home:hover {
	color: #FFF;
}

header .fa-lock {
	color: #D1D1DC;
	padding: 2px 2px;
}

header .fa-lock:hover {
	color: #FFF;
}

/* Definicion del bloque aside */

aside {
	width:18%;
	overflow:hidden;
/*	box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07); */ 
/*  opacity:1; */
  	font-weight: bold;
  	float: left;
  	position: absolute;
	top: 20%;
	left: 42%;
}

aside .aside-text {
	font-size: 12px;
	font-weight: bold;
	padding: 0px 10px;
}

/* Definicion del bloque aside */

nav {
	margin-left: 13%;
}
nav .breadcrumb{
	font-size: 10px;
	display: inherit;
	background: transparent;
}
nav .nav-text {
	font-size: 10px;
	font-weight: bold;
	padding: 0px 10px;
}

/* Definicion del bloque section */
section { 
	margin-left: 14%;   
	background: transparent; 
	width: 85%;
}

/* Definicion del bloque article */
article { 
	margin: 0 auto; 
	background: transparent; 
	padding-top: 20px;
}
article > p:first-child { 
	font-size: 18px; 
	color: #4b545f; 
	text-align: justify;
}
article > p:first-child > a { 
	text-decoration: none; 
	color: #4b545f; 
}

/* Definicion del bloque footer */
footer { 
	font-family: Helvetica, sans-serif; 
	width: 100%; 
	height: 20px;
	bottom: 0; 
	position: fixed; 
	background-color: white;
	padding-top: 5px; 
	color: #757575; 
	text-align: center;
	border-top: 1px solid #e8e8e8;
	box-shadow: 2px 0px 9px rgba(0,0,0,0.35);
}
 
legend { 
	padding: 0 2px; 
	color: #B7001C; 
}

label { 
	color: #006699; 
	font-size: 12px; 
}

#botones {
	width: 100%; 
	clear: both;
	border: none;
	box-shadow: inherit;
	margin: 0 auto; 
	text-align: center;
}

table > thead > tr > th:first-child{ 
    display: none; 
} 

table > tbody > tr > td:first-child{ 
    display: none; 
}

a { text-decoration: none; } 