/**
 * Estilos generales
*/
*{ margin: 0; padding: 0; }
/* Todo el cuerpo*/
body{
	background-position: center;	
	background-attachment: fixed;
	background-repeat: no-repeat;
/*	background-image: url(../../img/fondo_planta4.jpg);*/
	background-size: 100% 100%;
}

/* Todo el cuerpo --termina--*/
/* Definicion del bloque Cabecera*/
header{
	width: 100%;
	height: 70px;
	color:#fff;
	background-color: #0146AE;
	font-family: 'Strait', sans-serif;
	position: fixed;
	top: 0px;

}

header h1{
	padding-left: 30px;
	padding-right: 20px;
	/* font-family: Helvetica, sans-serif; */
	text-transform: uppercase;
	font-size: 32px;
	font-weight:bold;
	float: left;
}

header img{
	float: right;
	padding-right: 20px;
}

header p {	
	padding-top: 23px;
	font-size: 10px;
}

header p a{
	color: #D1D1DC;
	padding: 2px 2px;
}

header p a:hover {
	color: #FFF;
}

header p a {
	color: #D1D1DC;
	padding: 2px 2px;
}

header p a:hover {
	color: #FFF;
}
/* Definicion del bloque Cabecera --termina--*/
/* Definicion del bloque menu lateral */

aside {
	width:200px;
	overflow:hidden; 
  	font-weight: bold;
  	float: left;
  	height: 100%;
  	background-color: #F5F5F5;
  	position: fixed;
    top: 70px;
    border-right: 2px solid #dddddd;
}
aside .aside-text {
	font-size: 13px;
	font-weight: bold; 
	padding: 0px 10px;

}

aside .list-group-item {
	background-color: #F5F5F5;
	border: 0px;
}

aside .list-group-item:hover{
	background-color: #3E85C4; 
	color: #F5F5F5;
}
/* Definicion del bloque menu lateral --termina--*/
/* Definicion del bloque submenu */

nav {
	margin-left: 200px;
	height: 30px;
	top: 70px;
	width:100%;
	position: relative;
	
}
.navbar {
	position: fixed;
	border-radius: 0px;
	border-bottom: 2px solid #dddddd;
	min-height: 30px;
	background-color: #F5F5F5;
}
nav .breadcrumb{
	font-size: 10px;
	display: inherit;
	background: transparent;
}

nav .nav-text {
	font-size: 10px;
	font-weight: bold;
	padding: 0px 5px;
}

.navbar-brand {
	padding: 5px;
	margin-left: 10px;
}

.navbar-form {
	margin-top: 4px;
}

.regresar{
	cursor: pointer;
}

/* Definicion del bloque submenu --termina--*/
/* Definicion del bloque pie de pagina */
footer { 
	font-family: Helvetica, sans-serif; 
	width: 85%;
	height: 30px;
	bottom: 0;
	position: fixed; 
	margin-left: 15%;
	padding-top: 4px;
	background-color: #000000;
	color: #757575; 
	text-align: center;
	border-top: 1px solid #000000;
	box-shadow: 2px 0px 9px rgba(0,0,0,0.35);
}
/* Definicion del bloque pie de pagina --termina-- */


/**
 * modificar a conveniencia de la aplicacion
*/
/* Definicion del bloque section */
section { 
	margin-left: 15%;
	margin-top: 110px;
	padding-bottom: 40px;
	font-size: 12px;
}

/* videos */
a {
  color:#1185ff;
}

/* Specific CSS code for the magnifying glass icon */
a.zoomable {
  display:block;
  /* Adjust the width and height properties
  according to your “zoomable thumbnail”’s dimensions;*/
  width:320px;
  height:180px;
  background:#000;
  position:relative;
  -webkit-box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
  -moz-box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
  box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
}

a.zoomable span.zoom_icon {
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  /*
  Important:
  Upload the icon below to your server and update the path accordingly.
  Please do not hotlink it!
  */
  background:url("http://f.cl.ly/items/3C1V2w2r36360V3c1b3x/sv_zoom_icon.png") no-repeat bottom right;
  opacity:0.3;
  -o-transition:opacity 0.25s;
  -moz-transition:opacity 0.25s;
  -webkit-transition:opacity 0.25s;
  transition:opacity 0.25s;
}

a.zoomable:hover span.zoom_icon {opacity:1}